@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";

/* .pattern-background {
  @apply bg-[url('/images/auth-bg.png')] bg-cover bg-fixed;
} */
.auth-header {
  @apply text-2xl md:text-3xl xl:text-4xl font-medium text-center;
}
.auth-btn {
  @apply bg-[#FFEBE4] hover:bg-[#F15A24] text-black duration-300 hover:text-white mx-auto w-fit px-14 rounded-xl py-2 md:text-xl md:self-center;
}
.description-item {
  @apply duration-300 text-center font-medium py-3 rounded-full cursor-pointer;
}
.preference-item {
  @apply bg-[#202020] rounded-full text-center self-center font-medium py-4 px-8 lg:px-16 text-sm md:text-base text-white cursor-pointer;
}
.active-preference-item {
  @apply bg-[#F9F9F9] rounded-full text-center self-center font-medium py-4 px-8 lg:px-16 text-sm md:text-base text-black cursor-pointer;
}
.description-item:hover,
.preference-item:hover {
  @apply bg-[#f9f9f9] text-black;
}
.activityBar {
  @apply self-center hover:text-white hover:bg-btnColor px-6 mx-auto py-4 rounded-xl duration-300;
}
.card {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-color: white;
}

.card-skeleton {
  background-image: linear-gradient(90deg, #222 0px, #333 40px, #222 80px);
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite;
}
input {
  @apply border-[#FFFEFE99]/60;
}
body {
  @apply font-urbanist;
}
/* From Uiverse.io by Shoh2008 */ 
.loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #F15A24;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}
 .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFF;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}
.slick-slide {
  @apply md:px-5;
}


@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}
