@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply font-thin;
}
.pattern-background {
  @apply bg-[url('/images/auth-bg.png')] bg-cover;
}
.auth-header {
  @apply text-2xl md:text-3xl font-medium text-center;
}
.description-item {
  @apply duration-300 text-center font-medium py-5 rounded-full cursor-pointer;
}
.preference-item {
  @apply px-14 xl:px-20 bg-white text-center font-semibold py-5 rounded-full cursor-pointer;
}
.active-preference-item {
  @apply px-14 xl:px-20 bg-purple-500 text-white text-center font-semibold py-5 rounded-full cursor-pointer;
}
.description-item:hover,
.preference-item:hover {
  @apply bg-purple-500 text-white;
}
.activityBar {
  @apply self-center hover:bg-btnColor px-6 py-4 rounded-xl duration-300;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  display: none;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
