@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";
label {
  @apply font-thin;
}
.pattern-background {
  @apply bg-[url('/images/auth-bg.png')] bg-cover bg-fixed;
}
.auth-header {
  @apply text-2xl md:text-3xl xl:text-4xl font-medium text-center;
}
.auth-btn {
  @apply bg-[#584296] text-white mx-auto w-fit px-16 rounded-lg py-3 md:text-xl md:self-center;
}
.description-item {
  @apply duration-300 text-center text-white font-medium py-3 md:py-5 rounded-full cursor-pointer;
}
.preference-item {
  @apply bg-slate-600 rounded-full text-center self-center font-medium py-5 md:py-6 text-white cursor-pointer;
}
.active-preference-item {
  @apply bg-[#131725] rounded-full text-center self-center font-medium py-5 md:py-6 text-white cursor-pointer;
}
.description-item:hover,
.preference-item:hover {
  @apply bg-[#131725] text-white;
}
.activityBar {
  @apply self-center hover:text-white hover:bg-btnColor px-6 mx-auto py-4 rounded-xl duration-300;
}
.card {
  margin: 0 auto;
  /* width: 100vw;
    height: 100vh; */
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-color: white;
}

.card-skeleton {
  background-image: linear-gradient(
    90deg,
    #ccc 0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}

@media screen and (max-width: 375px) {
  .minimum {
    font-size: 36px;
  }
}
